<div class="meetup">
	<h3><%= meetup_event.name %></h3>
	<p>
		<b>Date</b>
		<br />
	  <%= time_tag Time.at(meetup_event.time.to_i / 1000) %>
	</p>
	<div>
		<% venue = meetup_event.venue if meetup_event.respond_to?(:venue) %>
		<% if venue %>
		 <p><strong>Location </strong>
		 		<br/>
				<%= venue.name %>,
				<%= venue.address_1 %>,
				<%= venue.city %>
		 </p>
		<% end %>
	</div>
	<div>
		<p class="pull-right signup">
			<%= link_to "Signup", meetup_event.event_url, target: "_blank" %>
		</p>
	</div>
</div>
