<%= form_for @event, html: {class: "form-horizontal"} do |f| %>
  <div class="control-group">
    <%= f.label "Name", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Date and Time", class: "control-label" %>
    <div class="controls">
      <%= f.datetime_select :time, {:minute_step => 15}, {:class => "input-small"} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Description", class: "control-label" %>
    <div class="controls">
      <%= f.text_area :description %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Status", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :status %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Event url", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :event_url %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Venue name", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :venue_name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Address 1", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :venue_address1 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Address 2", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :venue_address2 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Address 3", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :venue_address3 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "City", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :venue_city %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "State", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :venue_state %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "How to find us", class: "control-label" %>
    <div class="controls">
      <%= f.text_field :how_to_find_us %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit %>
    </div>
  </div>
<% end %>