<tr>
  <td><%= image_tag(sponsor.logo.url(:thumb)) if sponsor.logo_file_name %></td>
  <td><%= sponsor.name %></td>
  <td><%= sponsor.description %></td>
  <td><%= link_to "Show", sponsor_path(sponsor) %></td>
  <td><%= link_to "Edit", edit_sponsor_path(sponsor) %></td>
  <td><%= link_to "Destroy", sponsor_path(sponsor), method: :delete, confirm: "Are you sure?" %></td>
</tr>