<% unless @resources.empty? %>
  <table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>URL</th>
            <th>Votes</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <% @resources.each do |resource| %>
          <tr>
            <td onclick="location.href='<%= resource_path(resource) %>'"><%= resource.title %></td>
            <td onclick="location.href='<%= resource_path(resource) %>'"><%= resource.description %></td>
            <td><%= link_to("Go", resource.url, :target => "_blank") %></td>
            <td>
                <%= resource.votes %>
                <%= link_to '<i class="icon-thumbs-up"> </i>'.html_safe, upvote_resource_path(resource, :format => :js), :method => :post, :remote => true %>
                | <%= link_to '<i class="icon-thumbs-down"> </i>'.html_safe, downvote_resource_path(resource, :format => :js), :method => :post, :remote => true %>
            </td>
            <td><%= link_to("Edit", edit_resource_path(resource)) %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
<% else %>
  There are no resources.
<% end %>

