<h1><%= @resource.title %></h1>

<p><%= @resource.description %></p>

<%= link_to(@resource.url, @resource.url, :target => "_blank") %>

<!-- <h2>Comments</h2>
<%= link_to 'add comment', new_comment_path(resource_id: @resource.id) %><br />
<table class="table table-striped">
  <thead>
  	<tr>
  	  <th>Author</th>
  	  <th>Comment</th>
  	  <th>Date</th>
  	</tr>
  </thead>
  <tbody>
    <% @comments.each do |comment| %>
      <tr>
      	<td><%= comment.author %></td>
      	<td><%= comment.comment %></td>
      	<td><%= I18n.l(comment.created_at.to_date) %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
