<div class="row-fluid">
	<div class="span8">
		<%= render @meetup_events.shift unless @meetup_events.none? %>
    <hr>
    <h3>Sponsors</h3>
    <ul class="thumbnails">
      <% @sponsors.each do |sponsor| %>
       <li class="sponsor">
          <h4><%= link_to sponsor.name, sponsor_path(sponsor) %></h4>
          <%= link_to image_tag(sponsor.logo.url(:thumb)), sponsor_path(sponsor) if sponsor.logo_file_name %>
        </li>
      <% end %>
    </ul>
	</div>
	<div class="span4">
    <% if @meetup_events.any? %>
      <% @meetup_events[0..6].each do |event| %>
        <div>
          <p class='pull-right'>
            <%= link_to "More info", event.event_url %>
          </p>
          <h5><%= event.name %></h5>
          <p>
            <b>Date</b>
            <%= time_tag Time.at(event.time.to_i / 1000) %>
          </p>
          <%= event.venue.name if event.respond_to?(:venue) %>
          <hr>
        </div>
      <% end %>
    <% else %>
      <div>
        <p>There are currently no events.</p>
      </div>
    <% end %>
	</div>
  <p><%= link_to "There is more!", 'http://www.meetup.com/RailsGirls-NL/' %></p>
</div>
