<div class='row'>
	<div class='span8'>
		<h2>Events for upcoming month</h2>

		<% @events.each do | event| %>
		<h3><%=event.name%></h3>
		<p> <%= raw event.description %></p>
		<p><%= event.status %> <%=l Time.parse(event.time), :format => :short %></p>
		<%  end %>
	</div>
	<div class='span4'>
		<h2>Upcoming Events</h2>
		<% @events.each do |event| %>
		<h3><%= link_to event.name, event.event_url %></h3>
		<p><%=event.venue_city%></p>
		<p><%=event.time.to_datetime.strftime("%d/%m/%Y")%></p>
		<% end %>
	</div>
</div>

<%= @member.name %>



<% @group.each do | group| %>
<p><%=group.description%> <%= group.id %></p>
<%  end %>