<!DOCTYPE html>
<html>
<head>
  <title>RailsGirls NL</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lilita+One' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="header">
    <span class="logo">RailsGirls NL</span>
    <div class="navbar navbar-default" style="background-color: #D3360B; color: white; border: none;">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!--Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Resources", resources_path %></li>
            <li><%= link_to "Connect", connect_path %></li>
            <li><%= link_to "Contributors", contributors_path %></li>
            <li>
              <% if user_signed_in? %>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
              <% else %>
                <%= link_to "Sign in", new_user_session_path %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container" id="page-content">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <br />
    <%= yield %>
  </div>

</body>
</html>
